<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vc.core.dao.AccountMapper" >
  <resultMap id="BaseResultMap" type="com.vc.core.model.Account" >
    <result column="acct_id" property="acctId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="acct_money" property="acctMoney" jdbcType="DOUBLE" />
    <result column="block_money" property="blockMoney" jdbcType="DOUBLE" />
    <result column="acct_sts" property="acctSts" jdbcType="INTEGER" />
    <result column="acct_create_time" property="acctCreateTime" jdbcType="TIMESTAMP" />
    <result column="acct_modify_time" property="acctModifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.vc.core.model.Account" >
    insert into t_account (acct_id, user_id, acct_money, 
      block_money, acct_sts, acct_create_time, 
      acct_modify_time)
    values (#{acctId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{acctMoney,jdbcType=DOUBLE}, 
      #{blockMoney,jdbcType=DOUBLE}, #{acctSts,jdbcType=INTEGER}, #{acctCreateTime,jdbcType=TIMESTAMP}, 
      #{acctModifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.vc.core.model.Account" >
    insert into t_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="acctId != null" >
        acct_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="acctMoney != null" >
        acct_money,
      </if>
      <if test="blockMoney != null" >
        block_money,
      </if>
      <if test="acctSts != null" >
        acct_sts,
      </if>
      <if test="acctCreateTime != null" >
        acct_create_time,
      </if>
      <if test="acctModifyTime != null" >
        acct_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="acctId != null" >
        #{acctId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="acctMoney != null" >
        #{acctMoney,jdbcType=DOUBLE},
      </if>
      <if test="blockMoney != null" >
        #{blockMoney,jdbcType=DOUBLE},
      </if>
      <if test="acctSts != null" >
        #{acctSts,jdbcType=INTEGER},
      </if>
      <if test="acctCreateTime != null" >
        #{acctCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acctModifyTime != null" >
        #{acctModifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>