<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vc.core.dao.EntrustInfoMapper" >
  <resultMap id="BaseResultMap" type="com.vc.core.model.EntrustInfo" >
    <id column="entrust_id" property="entrustId" jdbcType="INTEGER" />
    <result column="entrust_money_id" property="entrustMoneyId" jdbcType="INTEGER" />
    <result column="entrust_type" property="entrustType" jdbcType="INTEGER" />
    <result column="entrust_unit_money" property="entrustUnitMoney" jdbcType="DOUBLE" />
    <result column="entrust_num" property="entrustNum" jdbcType="INTEGER" />
    <result column="entrust_money" property="entrustMoney" jdbcType="DOUBLE" />
    <result column="entrust_time" property="entrustTime" jdbcType="TIMESTAMP" />
    <result column="entrust_comp_money" property="entrustCompMoney" jdbcType="DOUBLE" />
    <result column="entrust_sts" property="entrustSts" jdbcType="INTEGER" />
    <result column="entrust_last_time" property="entrustLastTime" jdbcType="TIMESTAMP" />
    <result column="entrust_desc" property="entrustDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    entrust_id, entrust_money_id, entrust_type, entrust_unit_money, entrust_num, entrust_money, 
    entrust_time, entrust_comp_money, entrust_sts, entrust_last_time, entrust_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_entrust_info
    where entrust_id = #{entrustId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_entrust_info
    where entrust_id = #{entrustId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vc.core.model.EntrustInfo" >
    insert into t_entrust_info (entrust_id, entrust_money_id, entrust_type, 
      entrust_unit_money, entrust_num, entrust_money, 
      entrust_time, entrust_comp_money, entrust_sts, 
      entrust_last_time, entrust_desc)
    values (#{entrustId,jdbcType=INTEGER}, #{entrustMoneyId,jdbcType=INTEGER}, #{entrustType,jdbcType=INTEGER}, 
      #{entrustUnitMoney,jdbcType=DOUBLE}, #{entrustNum,jdbcType=INTEGER}, #{entrustMoney,jdbcType=DOUBLE}, 
      #{entrustTime,jdbcType=TIMESTAMP}, #{entrustCompMoney,jdbcType=DOUBLE}, #{entrustSts,jdbcType=INTEGER}, 
      #{entrustLastTime,jdbcType=TIMESTAMP}, #{entrustDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vc.core.model.EntrustInfo" >
    insert into t_entrust_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="entrustId != null" >
        entrust_id,
      </if>
      <if test="entrustMoneyId != null" >
        entrust_money_id,
      </if>
      <if test="entrustType != null" >
        entrust_type,
      </if>
      <if test="entrustUnitMoney != null" >
        entrust_unit_money,
      </if>
      <if test="entrustNum != null" >
        entrust_num,
      </if>
      <if test="entrustMoney != null" >
        entrust_money,
      </if>
      <if test="entrustTime != null" >
        entrust_time,
      </if>
      <if test="entrustCompMoney != null" >
        entrust_comp_money,
      </if>
      <if test="entrustSts != null" >
        entrust_sts,
      </if>
      <if test="entrustLastTime != null" >
        entrust_last_time,
      </if>
      <if test="entrustDesc != null" >
        entrust_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="entrustId != null" >
        #{entrustId,jdbcType=INTEGER},
      </if>
      <if test="entrustMoneyId != null" >
        #{entrustMoneyId,jdbcType=INTEGER},
      </if>
      <if test="entrustType != null" >
        #{entrustType,jdbcType=INTEGER},
      </if>
      <if test="entrustUnitMoney != null" >
        #{entrustUnitMoney,jdbcType=DOUBLE},
      </if>
      <if test="entrustNum != null" >
        #{entrustNum,jdbcType=INTEGER},
      </if>
      <if test="entrustMoney != null" >
        #{entrustMoney,jdbcType=DOUBLE},
      </if>
      <if test="entrustTime != null" >
        #{entrustTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entrustCompMoney != null" >
        #{entrustCompMoney,jdbcType=DOUBLE},
      </if>
      <if test="entrustSts != null" >
        #{entrustSts,jdbcType=INTEGER},
      </if>
      <if test="entrustLastTime != null" >
        #{entrustLastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entrustDesc != null" >
        #{entrustDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vc.core.model.EntrustInfo" >
    update t_entrust_info
    <set >
      <if test="entrustMoneyId != null" >
        entrust_money_id = #{entrustMoneyId,jdbcType=INTEGER},
      </if>
      <if test="entrustType != null" >
        entrust_type = #{entrustType,jdbcType=INTEGER},
      </if>
      <if test="entrustUnitMoney != null" >
        entrust_unit_money = #{entrustUnitMoney,jdbcType=DOUBLE},
      </if>
      <if test="entrustNum != null" >
        entrust_num = #{entrustNum,jdbcType=INTEGER},
      </if>
      <if test="entrustMoney != null" >
        entrust_money = #{entrustMoney,jdbcType=DOUBLE},
      </if>
      <if test="entrustTime != null" >
        entrust_time = #{entrustTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entrustCompMoney != null" >
        entrust_comp_money = #{entrustCompMoney,jdbcType=DOUBLE},
      </if>
      <if test="entrustSts != null" >
        entrust_sts = #{entrustSts,jdbcType=INTEGER},
      </if>
      <if test="entrustLastTime != null" >
        entrust_last_time = #{entrustLastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entrustDesc != null" >
        entrust_desc = #{entrustDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where entrust_id = #{entrustId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vc.core.model.EntrustInfo" >
    update t_entrust_info
    set entrust_money_id = #{entrustMoneyId,jdbcType=INTEGER},
      entrust_type = #{entrustType,jdbcType=INTEGER},
      entrust_unit_money = #{entrustUnitMoney,jdbcType=DOUBLE},
      entrust_num = #{entrustNum,jdbcType=INTEGER},
      entrust_money = #{entrustMoney,jdbcType=DOUBLE},
      entrust_time = #{entrustTime,jdbcType=TIMESTAMP},
      entrust_comp_money = #{entrustCompMoney,jdbcType=DOUBLE},
      entrust_sts = #{entrustSts,jdbcType=INTEGER},
      entrust_last_time = #{entrustLastTime,jdbcType=TIMESTAMP},
      entrust_desc = #{entrustDesc,jdbcType=VARCHAR}
    where entrust_id = #{entrustId,jdbcType=INTEGER}
  </update>
</mapper>