<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="WxRight">
	<resultMap id="RM_Wx_Right" type="com.vc.core.model.WxUserRight">
        <result property="rightId" column="RIGHT_ID"/>
        <result property="rightUserId" column="RIGHT_USER_ID"/>
        <result property="rightSecId" column="RIGHT_SEC_ID"/>
        <result property="rightSysManager" column="RIGHT_SYS_MANAGER"/>
        <result property="rightSecManager" column="RIGHT_SEC_MANAGER"/>
        <result property="rightCreateTime" column="RIGHT_CREATE_TIME"/>
        <result property="rightModifyTime" column="RIGHT_MODIFY_TIME"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="WxRight.columns">
	    <![CDATA[
		RIGHT_ID,RIGHT_USER_ID,RIGHT_SEC_ID,RIGHT_SYS_MANAGER,RIGHT_SEC_MANAGER,RIGHT_CREATE_TIME,RIGHT_MODIFY_TIME
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="WxRight.insert" useGeneratedKeys="false" keyProperty="rightId">
    <![CDATA[
        INSERT INTO H_USER_RIGHT (
        	RIGHT_ID,
        	RIGHT_USER_ID,
        	RIGHT_SEC_ID,
        	RIGHT_SYS_MANAGER,
        	RIGHT_SEC_MANAGER,
        	RIGHT_CREATE_TIME,
        	RIGHT_MODIFY_TIME
        ) VALUES (
        	#{rightId,jdbcType=VARCHAR} ,
        	#{rightUserId,jdbcType=VARCHAR} ,
        	#{rightSecId,jdbcType=DECIMAL} ,
        	#{rightSysManager,jdbcType=DECIMAL} ,
        	#{rightSecManager,jdbcType=DECIMAL} ,
        	#{rightCreateTime,jdbcType=DATE} ,
        	#{rightModifyTime,jdbcType=DATE}
        )
    ]]>
	</insert>
    
	<update id="WxRight.update" >
    <![CDATA[
        UPDATE H_USER_RIGHT SET
	       	RIGHT_USER_ID = #{rightUserId,jdbcType=VARCHAR} ,
        	RIGHT_SEC_ID = #{rightSecId,jdbcType=DECIMAL} ,
        	RIGHT_SYS_MANAGER = #{rightSysManager,jdbcType=DECIMAL} ,
        	RIGHT_SEC_MANAGER = #{rightSecManager,jdbcType=DECIMAL} ,
        	RIGHT_CREATE_TIME = #{rightCreateTime,jdbcType=DATE} ,
			RIGHT_MODIFY_TIME = #{rightModifyTime,jdbcType=DATE} 
        WHERE 
	        RIGHT_ID = #{rightId}
    ]]>
	</update>
    
    <select id="WxRight.getById" resultMap="RM_Wx_Right">
		SELECT <include refid="WxRight.columns" />
	    <![CDATA[
		    FROM H_USER_RIGHT 
	        WHERE RIGHT_ID = #{rightId}
	    ]]>
	</select>
	
	<sql id="WxRight.findPage.where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(rightId)">
				AND RIGHT_ID = #{rightId}
		   </if>
	       <if test="@Ognl@isNotEmpty(rightUserId)">
				AND UPPER(RIGHT_USER_ID) = UPPER(#{rightUserId})
		   </if>
	       <if test="@Ognl@isNotEmpty(rightSecId)">
				AND RIGHT_SEC_ID = #{rightSecId}
		   </if>
	       <if test="@Ognl@isNotEmpty(rightSysManager)">
				AND RIGHT_SYS_MANAGER = #{rightSysManager}
		   </if>
		    <if test="@Ognl@isNotEmpty(rightSecManager)">
				AND RIGHT_SEC_MANAGER = #{rightSecManager}
		   </if>
	       <if test="@Ognl@isNotEmpty(rightCreateTimeBegin)">
				AND RIGHT_CREATE_TIME >= #{rightCreateTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(rightCreateTimeEnd)">
				AND RIGHT_CREATE_TIME &lt;= #{rightCreateTimeEnd}
		   </if>
		   <if test="@Ognl@isNotEmpty(rightModifyTimeBegin)">
				AND RIGHT_MODIFY_TIME >= #{rightModifyTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(rightModifyTimeEnd)">
				AND RIGHT_MODIFY_TIME &lt;= #{rightModifyTimeEnd}
		   </if>
		</where>
	</sql>
		
    <select id="WxRight.findPage.count" resultType="long">
        SELECT count(*) FROM H_USER_RIGHT 
		<include refid="WxRight.findPage.where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="WxRight.findPage" resultMap="RM_Wx_Right">
    	SELECT <include refid="WxRight.columns" />
	    FROM H_USER_RIGHT 
		<include refid="WxRight.findPage.where"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
</mapper>

