<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="WxPosts">
  <resultMap id="RM_Wx_Posts" type="com.vc.core.model.WxPosts">
    <result property="id" column="ID"/>
    <result property="psId" column="PS_ID"/>
    <result property="psSecId" column="PS_SEC_ID"/>
    <result property="psTitle" column="PS_TITLE"/>
    <result property="psUserId" column="PS_USER_ID"/>
    <result property="psUserName" column="PS_USER_NAME"/>
    <result property="psContent" column="PS_CONTENT"/>
    <result property="psStatus" column="PS_STATUS"/>
    <result property="psCheckStatus" column="PS_CHECK_STATUS"/>
    <result property="psPostType" column="PS_POST_TYPE"/>
    <result property="psViews" column="PS_VIEWS"/>
    <result property="psReply" column="PS_REPLY"/>
    <result property="psParentId" column="PS_PARENT_ID"/>
    <result property="psIsTop" column="PS_IS_TOP"/>
    <result property="psIsDoing" column="PS_IS_DOING"/>
    <result property="psCreateTime" column="PS_CREATE_TIME"/>
    <result property="psModifyTime" column="PS_MODIFY_TIME"/>
    <result property="psField1" column="PS_FIELD1"/>
    <result property="psField2" column="PS_FIELD2"/>
    <result property="psField3" column="PS_FIELD3"/>
    <result property="psField4" column="PS_FIELD4"/>
    <result property="psField5" column="PS_FIELD5"/>
    <result property="psField6" column="PS_FIELD6"/>
    <result property="psField7" column="PS_FIELD7"/>
    <result property="psField8" column="PS_FIELD8"/>
    <result property="psField9" column="PS_FIELD9"/>
    <result property="psField10" column="PS_FIELD10"/>
    <result property="userAvatar" column="USER_AVATAR"/>
  </resultMap>
  
  <resultMap id="RM_Wx_Sub_Posts" type="com.vc.core.model.WxPosts" extends="RM_Wx_Posts">
    <result property="atnStatus" column="ATN_STATUS"/>
    <result property="atnUserId" column="ATN_USER_ID"/>
    <result property="atnThumbsStatus" column="ATN_THUMBS_STATUS"/>
  </resultMap>
  
  <resultMap id="RM_Wx_Reply_Msg_Posts" type="com.vc.core.model.WxPosts" extends="RM_Wx_Posts">
    <result property="msgCount" column="MSG_COUNT"/>
  </resultMap>
  
  <resultMap id="RM_Wx_Lecture" type="com.vc.core.model.WxPosts" extends="RM_Wx_Posts">
    <result property="fileId" column="FILE_ID"/>
    <result property="fileName" column="FILE_NAME"/>
    <result property="filePath" column="FILE_PATH"/>
    <result property="fileType" column="FILE_TYPE"/>
    <result property="fileIsPic" column="FILE_IS_PIC"/>
    <result property="fileStatus" column="FILE_STATUS"/>
    <result property="fileOrder" column="FILE_ORDER"/>
    <result property="fileCreateTime" column="FILE_CREATE_TIME"/>
  </resultMap>
  
  
  <resultMap id="RM_Wx_SysEvent_Posts" type="com.vc.core.model.WxPosts" extends="RM_Wx_Posts">
    <result property="logId" column="LOG_ID"/>
    <result property="logUserId" column="LOG_USER_ID"/>
  </resultMap>
  
  <!-- 用于select查询公用抽取的列 -->
  <sql id="WxPosts.columns">
    <![CDATA[
    A.ID, PS_ID,PS_SEC_ID,PS_TITLE,PS_USER_ID,PS_USER_NAME,PS_CONTENT,PS_STATUS,PS_CHECK_STATUS,PS_POST_TYPE,PS_VIEWS,PS_REPLY,PS_PARENT_ID,PS_IS_TOP,PS_IS_DOING,PS_CREATE_TIME,
    PS_MODIFY_TIME,PS_FIELD1,PS_FIELD2,PS_FIELD3,PS_FIELD4,PS_FIELD5,PS_FIELD6,PS_FIELD7,PS_FIELD8,PS_FIELD9,PS_FIELD10,USER_AVATAR
    ]]>
  </sql>
  
  <sql id="WxPosts.subColumns">
    <![CDATA[
    A.ID, PS_ID,PS_SEC_ID,PS_TITLE,PS_USER_ID,PS_USER_NAME,PS_CONTENT,PS_STATUS,PS_CHECK_STATUS,PS_POST_TYPE,PS_VIEWS,PS_REPLY,PS_PARENT_ID,PS_IS_TOP,PS_IS_DOING,PS_CREATE_TIME,
    PS_MODIFY_TIME,PS_FIELD1,PS_FIELD2,PS_FIELD3,PS_FIELD4,PS_FIELD5,PS_FIELD6,PS_FIELD7,PS_FIELD8,PS_FIELD9,PS_FIELD10,ATN_STATUS,ATN_USER_ID,USER_AVATAR,ATN_THUMBS_STATUS
    ]]>
  </sql>
  
  <sql id="WxPosts.replyMsgColumns">
    <![CDATA[
    MS.ID, PS_ID,PS_SEC_ID,PS_TITLE,PS_USER_ID,PS_USER_NAME,PS_CONTENT,PS_STATUS,PS_CHECK_STATUS,PS_POST_TYPE,PS_VIEWS,PS_REPLY,PS_PARENT_ID,PS_IS_TOP,PS_IS_DOING,PS_CREATE_TIME,
    PS_MODIFY_TIME,PS_FIELD1,PS_FIELD2,PS_FIELD3,PS_FIELD4,PS_FIELD5,PS_FIELD6,PS_FIELD7,PS_FIELD8,PS_FIELD9,PS_FIELD10,
    MSG_COUNT
    ]]>
  </sql>
  
  <sql id="WxPosts.lectureColumns">
    <![CDATA[
    A.ID, PS_ID,PS_SEC_ID,PS_TITLE,PS_USER_ID,PS_USER_NAME,PS_CONTENT,PS_STATUS,PS_CHECK_STATUS,PS_POST_TYPE,PS_VIEWS,PS_REPLY,PS_PARENT_ID,PS_IS_TOP,PS_IS_DOING,PS_CREATE_TIME,
    PS_MODIFY_TIME,PS_FIELD1,PS_FIELD2,PS_FIELD3,PS_FIELD4,PS_FIELD5,PS_FIELD6,PS_FIELD7,PS_FIELD8,PS_FIELD9,PS_FIELD10,F.ID,F.FILE_ID,F.FILE_NAME,F.FILE_PATH,F.FILE_TYPE,
    F.FILE_IS_PIC,F.FILE_STATUS,F.FILE_ORDER,F.FILE_CREATE_TIME,F.FILE_FIELD2
    ]]>
  </sql>
  
  <sql id="WxPosts.sysEventcolumns">
    <![CDATA[
    A.ID, PS_ID,PS_SEC_ID,PS_TITLE,PS_USER_ID,PS_USER_NAME,PS_CONTENT,PS_STATUS,PS_CHECK_STATUS,PS_POST_TYPE,PS_VIEWS,PS_REPLY,PS_PARENT_ID,PS_IS_TOP,PS_IS_DOING,PS_CREATE_TIME,
    PS_MODIFY_TIME,PS_FIELD1,PS_FIELD2,PS_FIELD3,PS_FIELD4,PS_FIELD5,PS_FIELD6,PS_FIELD7,PS_FIELD8,PS_FIELD9,PS_FIELD10,LOG_ID 
    ]]>
  </sql>

  <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
  <insert id="WxPosts.insert" useGeneratedKeys="false" keyProperty="psId">
    <![CDATA[
        INSERT INTO H_POSTS (
          PS_ID,
          PS_SEC_ID,
          PS_TITLE,
          PS_USER_ID,
          PS_USER_NAME,
          PS_CONTENT,
          PS_STATUS,
          PS_CHECK_STATUS,
          PS_POST_TYPE,
          PS_VIEWS,
          PS_PARENT_ID,
          PS_IS_TOP,
          PS_CREATE_TIME,
          PS_MODIFY_TIME,
          PS_FIELD1,
          PS_FIELD2,
          PS_FIELD3,
          PS_FIELD4,
          PS_FIELD5
        ) VALUES (
          #{psId,jdbcType=VARCHAR} ,
          #{psSecId,jdbcType=DECIMAL} ,
          #{psTitle,jdbcType=VARCHAR} ,
          #{psUserId,jdbcType=VARCHAR} ,
          #{psUserName,jdbcType=VARCHAR} ,
          #{psContent,jdbcType=VARCHAR} ,
          #{psStatus,jdbcType=DECIMAL} ,
          #{psCheckStatus,jdbcType=DECIMAL} ,
          #{psPostType,jdbcType=DECIMAL} ,
          #{psViews,jdbcType=DECIMAL} ,
          #{psParentId,jdbcType=VARCHAR} ,
          #{psIsTop,jdbcType=DECIMAL} ,
          #{psCreateTime,jdbcType=TIMESTAMP} ,
          #{psModifyTime,jdbcType=TIMESTAMP} ,
          #{psField1,jdbcType=VARCHAR} ,
          #{psField2,jdbcType=VARCHAR} ,
          #{psField3,jdbcType=VARCHAR} ,
          #{psField4,jdbcType=VARCHAR} ,
          #{psField5,jdbcType=VARCHAR} 
        )
    ]]>
  </insert>
    
  <update id="WxPosts.update" >
    <![CDATA[
        UPDATE H_POSTS SET
          PS_SEC_ID = #{psSecId,jdbcType=DECIMAL} ,
          PS_TITLE = #{psTitle,jdbcType=VARCHAR} ,
          PS_USER_ID = #{psUserId,jdbcType=VARCHAR} ,
          PS_USER_NAME = #{psUserName,jdbcType=VARCHAR} ,
          PS_CONTENT = #{psContent,jdbcType=VARCHAR} ,
          PS_STATUS = #{psStatus,jdbcType=DECIMAL} ,
          PS_CHECK_STATUS = #{psCheckStatus,jdbcType=DECIMAL} ,
          PS_POST_TYPE = #{psPostType,jdbcType=DECIMAL} ,
          PS_VIEWS = #{psViews,jdbcType=DECIMAL} ,
          PS_PARENT_ID = #{psParentId,jdbcType=VARCHAR} ,
          PS_IS_TOP = #{psIsTop,jdbcType=DECIMAL} ,
          PS_IS_DOING = #{psIsDoing,jdbcType=DECIMAL} ,
          PS_CREATE_TIME = #{psCreateTime,jdbcType=TIMESTAMP} ,
          PS_MODIFY_TIME = #{psModifyTime,jdbcType=TIMESTAMP} ,
          PS_FIELD1 = #{psField1,jdbcType=VARCHAR} ,
          PS_FIELD2 = #{psField2,jdbcType=VARCHAR} ,
          PS_FIELD3 = #{psField3,jdbcType=VARCHAR} ,
          PS_FIELD4 = #{psField4,jdbcType=VARCHAR} ,
          PS_FIELD5 = #{psField5,jdbcType=VARCHAR} ,
          PS_FIELD6 = #{psField6,jdbcType=VARCHAR} 
        WHERE 
          PS_ID = #{psId}
    ]]>
  </update>

  <update id="WxPosts.delete">
      UPDATE H_POSTS SET 
        PS_STATUS = 0,PS_MODIFY_TIME = now()
      WHERE PS_ID = #{psId}
  </update>
    
  <select id="WxPosts.getById" resultMap="RM_Wx_Posts">
   SELECT <include refid="WxPosts.columns" />
     <![CDATA[
       FROM H_POSTS A 
       LEFT JOIN H_USER B ON A.PS_USER_ID = B.USER_ID
         WHERE PS_ID = #{psId}
     ]]>
  </select>

  <sql id="WxPosts.findPage.where">
    <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
    <where>                
       <if test="@Ognl@isNotEmpty(psId)">
        AND PS_ID = #{psId}
       </if>
       <if test="@Ognl@isNotEmpty(psSecId)">
        AND PS_SEC_ID = #{psSecId}
       </if>
       <if test="@Ognl@isNotEmpty(psTitle)">
        AND PS_TITLE like '%${psTitle}%'
       </if>
       <if test="@Ognl@isNotEmpty(psUserId)">
        AND PS_USER_ID = #{psUserId}
       </if>
       <if test="@Ognl@isNotEmpty(psUserName)">
        AND PS_USER_NAME = #{psUserName}
       </if>
       <if test="@Ognl@isNotEmpty(psContent)">
        AND PS_CONTENT like '%${psContent}%'
       </if>
       <if test="@Ognl@isNotEmpty(psStatus)">
        AND PS_STATUS = #{psStatus}
       </if>
       <if test="@Ognl@isNotEmpty(psCheckStatus)">
        AND PS_CHECK_STATUS = #{psCheckStatus}
       </if>
       <if test="@Ognl@isNotEmpty(psPostType)">
        AND PS_POST_TYPE = #{psPostType}
       </if>
       <if test="@Ognl@isNotEmpty(psViews)">
        AND PS_VIEWS = #{psViews}
       </if>
       <if test="@Ognl@isNotEmpty(psParentId)">
        AND PS_PARENT_ID = #{psParentId}
       </if>
       <if test="@Ognl@isNotEmpty(psIsTop)">
        AND PS_IS_TOP = #{psIsTop}
       </if>
       <if test="@Ognl@isNotEmpty(psIsDoing)">
        AND PS_IS_DOING = #{psIsDoing}
       </if>
       <if test="@Ognl@isNotEmpty(psCreateTimeBegin)">
        AND PS_CREATE_TIME >= #{psCreateTimeBegin}
       </if>
       <if test="@Ognl@isNotEmpty(psCreateTimeEnd)">
        AND PS_CREATE_TIME &lt;= #{psCreateTimeEnd}
       </if>
       <if test="@Ognl@isNotEmpty(psModifyTimeBegin)">
        AND PS_MODIFY_TIME >= #{psModifyTimeBegin}
       </if>
       <if test="@Ognl@isNotEmpty(psModifyTimeEnd)">
        AND PS_MODIFY_TIME &lt;= #{psModifyTimeEnd}
       </if>
       <if test="@Ognl@isNotEmpty(psField1)">
        AND PS_FIELD1 like '%${psField1}%'
       </if>
       <if test="@Ognl@isNotEmpty(psField2)">
        AND PS_FIELD2 like '%${psField2}%'
       </if>
       <if test="@Ognl@isNotEmpty(psField3)">
        AND PS_FIELD3 like '%${psField3}%'
       </if>
       <if test="@Ognl@isNotEmpty(psField4)">
        AND PS_FIELD4 like '%${psField4}%'
       </if>
       <if test="@Ognl@isNotEmpty(psField5)">
        AND PS_FIELD5 like '%${psField5}%'
       </if>
       <if test="@Ognl@isNotEmpty(atnStatus)">
        AND ATN_STATUS = #{atnStatus}
       </if>
       <!--
       <if test="@Ognl@isNotEmpty(atnUserId)">
        AND ATN_USER_ID = #{atnUserId}
       </if>
       -->
       <if test="@Ognl@isNotEmpty(fileType)">
        AND FILE_TYPE = #{fileType}
       </if>
       <if test="@Ognl@isNotEmpty(fileIsPic)">
        AND FILE_IS_PIC = #{fileIsPic}
       </if>
       <if test="@Ognl@isNotEmpty(fileStatus)">
        AND FILE_STATUS= #{fileStatus}
       </if>
    </where>
  </sql>
  
  <sql id="WxPosts.findSubPage.where">
  <where>                
       <if test="@Ognl@isNotEmpty(psId)">
        AND PS_ID = #{psId}
       </if>
       <if test="@Ognl@isNotEmpty(psParentId)">
        AND FIND_IN_SET(ps_id,fn_getPostsChildList(#{psParentId}))
       </if>
       <if test="@Ognl@isNotEmpty(psUserId)">
        AND PS_USER_ID = #{psUserId}
       </if>
       <if test="@Ognl@isNotEmpty(psStatus)">
        AND PS_STATUS = #{psStatus}
       </if>
       <if test="@Ognl@isNotEmpty(psCheckStatus)">
        AND PS_CHECK_STATUS = #{psCheckStatus}
       </if>
       <if test="@Ognl@isNotEmpty(psField5)">
        AND PS_ID != #{psField5}
       </if>
       <if test="@Ognl@isNotEmpty(psField6)">
        AND PS_ID != #{psField6}
       </if>
    </where>
  </sql>
  
  <sql id="WxPosts.findParentPage.where">
  <where>                
       <if test="@Ognl@isNotEmpty(psId)">
        AND FIND_IN_SET(ps_id,fn_getPostsParentList(#{psId}))
       </if>
       <if test="@Ognl@isNotEmpty(psUserId)">
        AND PS_USER_ID = #{psUserId}
       </if>
       <if test="@Ognl@isNotEmpty(psStatus)">
        AND PS_STATUS = #{psStatus}
       </if>
       <if test="@Ognl@isNotEmpty(psCheckStatus)">
        AND PS_CHECK_STATUS = #{psCheckStatus}
       </if>
       <if test="@Ognl@isNotEmpty(psField5)">
        AND PS_ID != #{psField5}
       </if>
       <if test="@Ognl@isNotEmpty(psField6)">
        AND PS_ID != #{psField6}
       </if>
    </where>
  </sql>
  
  <sql id="WxPosts.queryReport.where">
    <where>        
       <if test="@Ognl@isNotEmpty(psParentId)">
        AND PS_PARENT_ID =#{psParentId}
       </if>   
       <if test="@Ognl@isNotEmpty(psField3)">
         AND PS_FIELD3 = #{psField3}
       </if>   
       <if test="@Ognl@isNotEmpty(psField10)">
         AND PS_PARENT_ID != '-1'
       </if>     
       <if test="@Ognl@isNotEmpty(psSecId)">
        AND PS_SEC_ID = #{psSecId}
       </if>
       <if test="@Ognl@isNotEmpty(psTitle)">
        AND PS_TITLE like '%${psTitle}%'
       </if>
       <if test="@Ognl@isNotEmpty(psUserId)">
        AND PS_USER_ID = #{psUserId}
       </if>
       <if test="@Ognl@isNotEmpty(psUserName)">
        AND PS_USER_NAME = #{psUserName}
       </if>
       <if test="@Ognl@isNotEmpty(psStatus)">
        AND PS_STATUS = #{psStatus}
       </if>
       <if test="@Ognl@isNotEmpty(psCheckStatus)">
        AND PS_CHECK_STATUS = #{psCheckStatus}
       </if>
       <if test="@Ognl@isNotEmpty(psIsTop)">
        AND PS_IS_TOP = #{psIsTop}
       </if>
       <if test="@Ognl@isNotEmpty(psIsDoing)">
        AND PS_IS_DOING = #{psIsDoing}
       </if>
       <if test="@Ognl@isNotEmpty(psCreateTimeBegin)">
        AND PS_CREATE_TIME >= #{psCreateTimeBegin}
       </if>
       <if test="@Ognl@isNotEmpty(psCreateTimeEnd)">
        AND PS_CREATE_TIME &lt;= #{psCreateTimeEnd}
       </if>
       <if test="@Ognl@isNotEmpty(psModifyTimeBegin)">
        AND PS_MODIFY_TIME >= #{psModifyTimeBegin}
       </if>
       <if test="@Ognl@isNotEmpty(psModifyTimeEnd)">
        AND PS_MODIFY_TIME &lt;= #{psModifyTimeEnd}
       </if>
     
    </where>
  </sql>
  
  <select id="WxPosts.findPage.count" resultType="long">
    SELECT count(*) FROM H_POSTS A 
    LEFT JOIN H_USER B ON A.PS_USER_ID = B.USER_ID
    <include refid="WxPosts.findPage.where"/>
  </select>
    
  <!--
    分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
  -->
  <select id="WxPosts.findPage" resultMap="RM_Wx_Posts">
    SELECT <include refid="WxPosts.columns" />
    FROM H_POSTS A 
    LEFT JOIN H_USER B ON A.PS_USER_ID = B.USER_ID
    <include refid="WxPosts.findPage.where"/>
    <if test="@Ognl@isNotEmpty(sortColumns)">
      ORDER BY ${sortColumns}
    </if>
  </select>
  
  <select id="WxPosts.findAtnPostsPage" resultMap="RM_Wx_Sub_Posts">
    SELECT <include refid="WxPosts.subColumns" />
    FROM H_POSTS A 
    LEFT JOIN H_USER B ON A.PS_USER_ID = B.USER_ID
    LEFT JOIN H_USER_ATTENTION C ON A.PS_ID = C.ATN_PS_ID AND C.ATN_USER_ID=#{atnUserId}
    <include refid="WxPosts.findPage.where"/>
    <if test="@Ognl@isNotEmpty(sortColumns)">
      ORDER BY ${sortColumns}
    </if>
  </select>
  
  <select id="WxPosts.findAtnPostsPage.count" resultType="long">
    SELECT count(*)
    FROM H_POSTS A 
    LEFT JOIN H_USER B ON A.PS_USER_ID = B.USER_ID
    LEFT JOIN H_USER_ATTENTION C ON A.PS_ID = C.ATN_PS_ID AND C.ATN_USER_ID=#{atnUserId}
    <include refid="WxPosts.findPage.where"/>
  </select>
  
  <select id="WxPosts.findSubPostPage.count" resultType="long">
    SELECT count(*) FROM H_POSTS A 
       LEFT JOIN H_USER B ON A.PS_USER_ID = B.USER_ID
       LEFT JOIN H_USER_ATTENTION C ON A.PS_ID = C.ATN_PS_ID AND C.ATN_USER_ID=#{atnUserId}
    <include refid="WxPosts.findSubPage.where"/>
  </select>
  
  <select id="WxPosts.findSubPostPage" resultMap="RM_Wx_Sub_Posts">
    SELECT <include refid="WxPosts.subColumns" />
    FROM H_POSTS A 
       LEFT JOIN H_USER B ON A.PS_USER_ID = B.USER_ID
       LEFT JOIN H_USER_ATTENTION C ON A.PS_ID = C.ATN_PS_ID AND C.ATN_USER_ID=#{atnUserId}
    <include refid="WxPosts.findSubPage.where"/>
    <if test="@Ognl@isNotEmpty(sortColumns)">
      ORDER BY ${sortColumns}
    </if>
  </select>
  
  
  <select id="WxPosts.findReplyMsgPostPage.count" resultType="long">
    SELECT count(*)
     FROM 
    (SELECT (SELECT COUNT(a.id) FROM h_user_msg a WHERE  a.msg_status=0 AND a.msg_parent_ps_id=b.ps_id) MSG_COUNT,b.*  
     FROM h_posts b WHERE b.ps_user_id=#{psUserId} ) ms
    <include refid="WxPosts.findPage.where"/>
    AND MS.MSG_COUNT>0
  </select>
  
  <select id="WxPosts.findReplyMsgPostPage" resultMap="RM_Wx_Reply_Msg_Posts">
    SELECT <include refid="WxPosts.replyMsgColumns" />
     FROM 
    (SELECT (SELECT COUNT(a.id) FROM h_user_msg a WHERE  a.msg_status=0 AND a.msg_parent_ps_id=b.ps_id) MSG_COUNT,b.*  
     FROM h_posts b WHERE b.ps_user_id=#{psUserId} ) ms
    <include refid="WxPosts.findPage.where"/>
    AND MS.MSG_COUNT>0
    <if test="@Ognl@isNotEmpty(sortColumns)">
      ORDER BY ${sortColumns}
    </if>
  </select>
    
   <select id="WxPosts.findLecturePage.count" resultType="long">
    SELECT count(*) FROM H_POSTS A 
       LEFT JOIN H_FILE f ON A.PS_ID = f.FILE_PS_ID
    <include refid="WxPosts.findPage.where"/>
    <if test="@Ognl@isNotEmpty(psField10)">
       AND F.FILE_FIELD2=#{psField10}
    </if>
  </select>
  
  <select id="WxPosts.findLecturePage" resultMap="RM_Wx_Lecture">
    SELECT <include refid="WxPosts.lectureColumns" />
    FROM H_POSTS A 
       LEFT JOIN H_FILE F ON A.PS_ID = F.FILE_PS_ID
    <include refid="WxPosts.findPage.where"/>
    <if test="@Ognl@isNotEmpty(psField10)">
       AND F.FILE_FIELD2=#{psField10}
    </if>
    <if test="@Ognl@isNotEmpty(sortColumns)">
      ORDER BY ${sortColumns}
    </if>
  </select>
   
  <select id="WxPosts.findSysEventPage.count" resultType="long">
    SELECT count(*) FROM H_POSTS A 
    LEFT JOIN H_USER B ON A.PS_USER_ID = B.USER_ID
    LEFT JOIN H_SCORE_lOG S ON A.PS_ID = S.LOG_OBJ_ID AND S.LOG_USER_ID=#{logUserId}
    <include refid="WxPosts.findPage.where"/>
  </select>
  
  <select id="WxPosts.findSysEventPage" resultMap="RM_Wx_SysEvent_Posts">
    SELECT <include refid="WxPosts.sysEventcolumns" />
    FROM H_POSTS A 
    LEFT JOIN H_SCORE_lOG S ON A.PS_ID = S.LOG_OBJ_ID AND S.LOG_USER_ID=#{logUserId}
    <include refid="WxPosts.findPage.where"/>
    <if test="@Ognl@isNotEmpty(sortColumns)">
      ORDER BY ${sortColumns}
    </if>
  </select> 
    
  <update id="WxPosts.clicks">
    UPDATE H_POSTS SET 
      PS_VIEWS = PS_VIEWS + 1
      WHERE PS_ID = #{psId}
  </update>
   
  <select id="WxPosts.getClicks" resultType="Integer">
    SELECT PS_VIEWS FROM H_POSTS A
      WHERE PS_ID = #{psId}
  </select>
   
  <update id="WxPosts.replys">
    UPDATE H_POSTS SET 
      PS_REPLY = PS_REPLY + 1
      WHERE PS_ID = #{psId}
  </update>
   
  <select id="WxPosts.getReply" resultType="Integer">
    SELECT PS_REPLY FROM H_POSTS A
      WHERE PS_ID = #{psId}
  </select>
   
  <select id="WxPosts.noteCount" resultType="Integer">
    SELECT count(*) FROM H_POSTS 
      WHERE PS_USER_ID = #{psUserId} AND PS_PARENT_ID = '-1'
  </select>
  
  <select id="WxPosts.getPostCount" resultType="Integer">
    SELECT count(*) FROM H_POSTS A 
    <include refid="WxPosts.findPage.where"/>
  </select>
  
   <select id="WxPosts.findAllParentPost" resultMap="RM_Wx_Sub_Posts">
    SELECT <include refid="WxPosts.subColumns" />
    FROM H_POSTS A 
       LEFT JOIN H_USER B ON A.PS_USER_ID = B.USER_ID
       LEFT JOIN H_USER_ATTENTION C ON A.PS_ID = C.ATN_PS_ID AND C.ATN_USER_ID=#{atnUserId}
    <include refid="WxPosts.findParentPage.where"/>
    <if test="@Ognl@isNotEmpty(sortColumns)">
      ORDER BY ${sortColumns}
    </if>
  </select>
  
  <select id="WxPosts.findAllSubPost" resultMap="RM_Wx_Sub_Posts">
    SELECT <include refid="WxPosts.subColumns" />
    FROM H_POSTS A 
       LEFT JOIN H_USER B ON A.PS_USER_ID = B.USER_ID
       LEFT JOIN H_USER_ATTENTION C ON A.PS_ID = C.ATN_PS_ID AND C.ATN_USER_ID=#{atnUserId}
    <include refid="WxPosts.findSubPage.where"/>
    <if test="@Ognl@isNotEmpty(sortColumns)">
      ORDER BY ${sortColumns}
    </if>
  </select>
    
  <select id="WxPosts.queryCalcPostsReport" resultMap="RM_Wx_Posts">
    SELECT count(*) ps_views,ps_sec_id  
    FROM H_POSTS 
    <include refid="WxPosts.queryReport.where"/>
    group by ps_sec_id
  </select>
  
  <select id="WxPosts.queryDyejPostsReport" resultMap="RM_Wx_Posts">
    SELECT count(*) ps_views,ps_is_doing,ps_field3
    FROM H_POSTS 
    <include refid="WxPosts.queryReport.where"/>
    group by ps_field3,ps_is_doing 
  </select>
</mapper>

